/* 
* @Author: zzx
* @Date:   2016-03-30 10:23:47
* @Last Modified time: 2016-09-02 11:26:46
*/

body{background-color:#fff;}
/*清除浮动*/
.clearfix:after { content:"\200B"; display:block; height:0; clear:both; } 
.clearfix {*zoom:1;} 

/*input placeholder属性样式控制*/
.placeholder input::-webkit-input-placeholder {color:#898989;text-align:center; font-size:0.4rem;}

.hidden{display:none;}
.show{display:block;}
.visibility{visibility:hidden;}
.fl{float:left;}
.fr{float:right;}


.section-wrap{ width:100%;height:100%;overflow:visible;transition:transform 1s cubic-bezier(0.86,0,0.03,1);-webkit-transition:-webkit-transform 1s cubic-bezier(0.86,0,0.03,1);}
.section-wrap .section{ position:relative; width:100%; height:100%; background-position:center center; background-repeat:no-repeat;}
.section-wrap .section .title{width:100%;position:absolute;top:10%;color:#fff;font-size:2.4em;text-align:center;}
.section-wrap .section .title p{ padding:0 4%;opacity:0}
.section-wrap .section .title p.tit{position:absolute;width:100%;}
.section-wrap .section .title.active .tit{ opacity:1;transform:translateY(-25px);-webkit-transform:translateY(-25px);transition:all 2s cubic-bezier(0.86,0,0.8,1);-webkit-transition:all 2s cubic-bezier(0.86,0,0.8,1);}
.section-wrap .section-1{ background-color:#337ab7}
.section-wrap .section-2{ background-color:#5cb85c}
.section-wrap .section-3{ background-color:#5bc0de}
.section-wrap .section-4{ background-color:#f0ad4e}
.section-wrap .section-5{ background-color:#d9534f}
.put-section-0{ transform:translateY(0);-webkit-transform:translateY(0);}
.put-section-1{ transform:translateY(-100%);-webkit-transform:translateY(-100%);}
.put-section-2{ transform:translateY(-200%);-webkit-transform:translateY(-200%);}
.put-section-3{ transform:translateY(-300%);-webkit-transform:translateY(-300%);}
.put-section-4{ transform:translateY(-400%);-webkit-transform:translateY(-400%);}
.section-btn{ width:14px;position:fixed;right:4%;top:50%;}
.section-btn li{ width:14px;height:14px;cursor:pointer;text-indent:-9999px;border-radius:50%;-webkit-border-radius:50%;margin-bottom:12px; background:#BD362F;text-align:center; color:#fff; onsor:pointer;}
.section-btn li.on{ background:#fff}
.arrow{ opacity:1;animation:arrow 3s cubic-bezier(0.5,0,0.1,1) infinite;-webkit-animation:arrow 3s cubic-bezier(0.5,0,0.1,1) infinite;transform:rotate(-90deg);-webkit-transform:rotate(-90deg); position:absolute;bottom:10px;left:50%;margin-left:-30px;width:60px;height:60px;border-radius:100%;-webkit-border-radius:100%;line-height:60px;text-align:center;font-size:20px;color:#fff;border:1px solid #fff;cursor:pointer;overflow:hidden;}
.arrow:hover{ animation-play-state:paused;-webkit-animation-play-state:paused;}
@keyframes arrow{ %0,%100{bottom:10px; opacity:1;} 50%{bottom:50px; opacity:.5} }
@-webkit-keyframes arrow{ %0,%100{bottom:10px; opacity:1;} 50%{bottom:50px; opacity:.5} }


.autotype{width:50%;padding-top:15%;margin:0 auto;}
.autotype p{color:#fff;line-height:24px; }


